@{
    Layout = "_Layout";
}

<div class="main-frame">

    <iframe class="y-frame" src="https://www.youtube.com/embed/ZiahkY4snMw"></iframe>

    <h3>What We Offer?</h3>
    <p>
        Melo beats is a brand that offers high-quality beats for various genres of
        music, such as hip hop, UK drill, trap, and more. Melo beats is created by 808Melo, a British record producer
        and songwriter who is credited as a pioneer of UK drill and Brooklyn drill. He has produced songs for artists like Pop Smoke,
        Travis Scott, Fivio Foreign, and Lil Tjay12
    </p>

</div>