@{ Layout = "_Layout"; }


<div class="main-frame text-center">

    <iframe class="y-frame" src="https://www.youtube.com/embed/ZiahkY4snMw"></iframe>

    <p><b>Address:</b>19 Nagti Street</p>
    <p><b>City:</b>Palmerston North</p>
    <p><b>Post:</b>6710 Code</p>
    <p><b>Phone Number:</b> 0679392912</p>
    <p><b>Email Address:</b> chad@melobeats.com</p>

</div>